<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>
<!-- show notification on error -->
<!--
<div th:if="${param.error}">
    Invalid username or password.
</div>

&lt;!&ndash; show notification of logout &ndash;&gt;
<div th:if="${param.logout}">
    You have been logged out.
</div>
-->

<!-- login form -->
<!--<div>
    <form th:action="@{/auth/login}" th:object="${loginRequestDto}" method="post">
        <h2 >Please sign in</h2>
        <label >User Name</label>
        <input type="text" name="username"  th:value="*{username}" th:required="required" th:autofocus="autofocus"/>
        <br/>

        <label>Password</label>
        <input type="password" name="password" th:value="*{password}" th:required="required" />
        <br/>

        <input type="submit" value="Sign In"/>
    </form>
</div>

<div>
    <form th:action="@{/auth/register}" th:object="${registerRequestDto}" method="post">
        <h2 >Please sign up</h2>
        <label >User Name</label>
        <input type="text" name="username" th:value="*{username}" th:required="required" th:autofocus="autofocus"/>
        <br/>

        <label>Password</label>
        <input type="text" name="password" th:value="*{password}" th:required="required" />
        <br/>

        <label>role(customer/admin)</label>
        <input type="text" name="role" th:value="*{role}" th:required="required" />
        <br/>

        <input type="submit" value="Sign up"/>
    </form>
</div>-->
<form th:action="@{/login}" method="post">
    <h2 >Please sign in</h2>

    <label for="username">
        <input id="username" type="text" name="username"   th:required="required" th:autofocus="autofocus"/>
    </label>
    <br/>


    <label for="password">
        <input id="password" type="password" name="password"  th:required="required" />
    </label>
    <br/>

    <input type="submit" value="Sign In"/>
</form>



</body>
</html>