<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
</head>
<body>


<div>
    <form th:action="@{/register}" th:object="${registerRequestDto}" method="post">
        <h2 >Please sign up</h2>
        <label >User Name</label>
        <input type="text" name="username" th:value="*{username}" th:required="required" th:autofocus="autofocus"/>
        <br/>

        <label>Password</label>
        <input type="text" name="password" th:value="*{password}" th:required="required" />
        <br/>

        <label>role(customer/admin)</label>
        <input type="text" name="role" th:value="*{role}" th:required="required" />
        <br/>

        <input type="submit" value="Sign up"/>
    </form>
</div>-->


</body>
</html>